/* base of css */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* base of css */
/* parent div css */
.myslider {
  position: relative;
  width: 300px;
  height: 250px;
  margin: 0 auto auto 0;
  overflow: hidden;
  box-shadow: 0 0 30px rgb(0 0 0 / 50%);
  border: 2px solid #000000;
}
.slider_header #prev {
  text-shadow: 0 0 20px rgb(0 0 0 / 60%);
  text-decoration: none;
  transition: all 150ms ease;
  z-index: 9;
  text-align: center;
  background: black;
  color: white;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  font-size: 0.7rem;
  padding: 4px 5px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 10px;
}
.slider_header #next {
  text-shadow: 0 0 20px rgb(0 0 0 / 60%);
  text-decoration: none;
  transition: all 150ms ease;
  z-index: 9;
  text-align: center;
  background: black;
  color: white;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  font-size: 0.7rem;
  padding: 4px 5px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 10px;
}
.slider_header .logo {
  width: 75px;
  margin: auto;
}
/* parent div css */
/* main slider css */
#slider {
  position: relative;
  width: 300px;
  height: 100%;
  overflow: hidden;
}
.slide {
  position: absolute;
  inset: 0;
  overflow: hidden;
}
.slide img {
  position: absolute;
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.slider_header {
  width: 300px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 4px solid #000;
  padding: 5px 0px;
}

/* main slider css */
